td, th {
    border: 1px solid black;
    margin: 0;
}

th {
    font-weight: bold;
    text-align: center;
    cursor: pointer;
    background: #ddd;
}

tfoot tr td {
    font-weight: bold;
    background: #ddd;
}

th:hover {
    background: #bbb;
}

th:active {
    background: #fff;
}

th:after {
    content: " \2191 \2193";
    font-size: .7em;
    position: relative;
    top: -2px;
}

td {
    padding-right: 6px;
}

tr:nth-child(n+1) {
    text-align: right;
}